.aftersale-setting-container {
  > .title {
    border-left: 8px solid red;
    margin-top: 20px;
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    .add-btn {
      float: right;
    }
  }
  .input-container {
    width: 300px;
    margin: 20px 20px;
    display: flex;
    button {
      width: 70px;
      margin-left: 10px;
    }
    .el-input {
      flex: 1;
    }
  }
}