.order-container {
  .nav-breadcrumb {
    font-size: 16px;
  }
  
  .fast-selection {
    padding: 30px 0px;
  }
  
  .search-container {
    background: #f2f2f2;
    padding: 20px;
    .el-form-item {
      .el-form-item__label {
        font-weight: 400;
        width: 110px;
      }
      .el-form-item__content {
        width: 200px;
        .el-select {
          width: 100%;
        }
        .el-date-editor {
          width: 200px;
        }
      }
    }
    .el-form-item.daterange-form-item {
      .el-form-item__content {
        width: 420px;
      }
    }
    .btn-container {
      text-align: center;
    }
  }
  .list-container {
    .el-icon-edit-outline {
      font-size: 16px;
    }
  }
}