.product-container {
  .search-container {
    padding-bottom: 0px;
    .el-form-item {
      .el-form-item__label {
        font-weight: 400;
        width: 90px;
      }
      .el-form-item__content {
        width: 200px;
        .el-select {
          width: 100%;
        }
      }
    }
  }
}


.product-detail {
  .border-block {
    // border: 1px solid transparent;
    .block-item {
      padding: 20px;
      border: 1px solid #efefef;
      border-bottom: 0px;
      .title {
        font-size: 16px;
        padding-bottom: 10px;
        .no {
          color: #409eff;
        }
      }
    }
    .block-item.last-child {
      border-bottom: 1px solid #efefef !important;
    }
  }
  .btn-container {
    text-align: center;
    padding: 20px;
  }
}